
AppMvcBasica/.vs/AppMvcBasica/v17/.futdcache.v2
AppMvcBasica/.vs/AppMvcBasica/v17/.suo
AppMvcBasica/.vs/ProjectEvaluation/appmvcbasica.metadata.v6.1
AppMvcBasica/.vs/ProjectEvaluation/appmvcbasica.projects.v6.1
